{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <center>
<h2>Doctor {{ doctor.name }}</h2>
{#        {% if messages %}#}
{#            {% for message in messages %}#}
{#            <font color="red">{{ message }}</font>#}
{#            {% endfor %}#}
{#        {% endif %}#}
            <p>Room: {{ doctor.room }}</p><br>
            <br>
             <p>Description:</p>
                <p>{{ doctor.description }}</p><br>
            {% if doctor.image %}
                <img src="{{ doctor.image.url }}">
            {% endif %}
            <br>
    </center>
{% endblock content %}
