{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <center>
<h2>Doctor {{ doctor.name }}</h2>
    <p>Room: {{ doctor.room }}</p><br>
    {% if doctor.image %}
        <img width="200" height="300" src="{{ doctor.image.url }}">
    {% endif %}
    <article class="media content-section">
        <div class="media-body">
         <h5>Description:</h5>
            <p>{{ doctor.description }}</p><br>
        </div>
    </article>
    <br>
    </center>
{% endblock content %}

