{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <center>
<h2>Visit details</h2>
        {% if messages %}
            {% for message in messages %}
            <font color="red">{{ message }}</font>
            {% endfor %}
        {% endif %}
        {%  for i in results %}
        <li>{{ i.visit }}</li><br>
            {% if i.paper is not None %}
                <img src="{{ i.paper.url }}">
            {% endif %}
            <br>
        {% endfor %}
    </center>
{% endblock content %}