<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <table>
        <tr><th colspan="3">Please choose your visit details</th></tr>
        <tr><th>Doctor</th><th>Category</th><th>Date</th><th>Hour</th></tr>
        <tr>
        <td>
            <select>
                <option></option>
            </select>
        </td>
        <td>
            <select>
                <option></option>
            </select>
        </td>
        <td>
            <input type="date" name="visit_date"/>
        </td>
        <td>
            <input type="time" name="visit_time"/>
        </td>
        <tr/>
    </table>

</body>
</html>