<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visit</title>
</head>
<body>
{% include "main_page.html" %}
{% block content %}
    <center>
<h2>Visit details</h2>
        {% if messages %}
            {% for message in messages %}
            <font color="red">{{ message }}</font>
            {% endfor %}
        {% endif %}
        {%  for i in results %}
        <li>{{ i.visit }}</li><br>
            {% if i.paper is not None %}
                <img src="{{ i.paper.url }}">
            {% endif %}
            <br>
        {% endfor %}
    </center>
{% endblock %}
</body>
</html>