{#{% include "main_page.html" %}#}
{#{% block content %}#}
{#    <center>#}
{#  <h2>Visits history</h2>#}
{#    {% if messages %}#}
{##}
{#    {% for message in messages %}#}
{#    <font color="red">{{ message }}</font>#}
{#    {% endfor %}#}
{#    {% endif %}#}
{#  <form method="post">#}
{#    {% csrf_token %}#}
{#    {{ form.table }}#}
{#    <button type="submit">Back to your profile</button>#}
{#  </form>#}
{#    </center>#}
{#{% endblock content %}#}
{#{% include 'footer.html' %}#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visits</title>
</head>
<body>
{% include "main_page.html" %}
{% block content %}
    <center>
<h2>Your previous visits</h2>

        {%  for i in visits %}
        <a href="/"><li> {{ i }}</li></a> <br>
        {% endfor %}
    </center>
{% endblock %}
</body>
</html>
